@charset "utf-8";

#wrap {
    /* height: 3000px; */
}

#header {
    width: 100%;
    height: 80px;
    background: url(../images/mainslide1.jpg) no-repeat center top;
    border-bottom: 1px #ddd solid;
    position: fixed;
    z-index: 2000;
}

.header_op {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
}

.header_inner {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 230px;
    height: 80px;
}

.nav {
    float: right;
}

.main {}

.main li {
    display: inline-block;
}

.main li a {
    color: white;
    font-size: 16px;
    display: block;
    line-height: 80px;
    padding: 0 15px;
}

.main li a:hover {
    color: thistle;
}

#contents {}

.main_visual {
    height: 900px;
    background: url(../images/mainslide1.jpg) no-repeat center top;
    /* 헤더에서 포지션-픽스를 줘서 공간이 떠있는 상태라서 
    사진이 위에서부터 겹쳐서 자연스럽게 이어져보임*/
}

.main_op {
    height: 900px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 200px;
    text-align: center;
    color: white;
}

.main_op h2 {
    font-size: 80px;
}

.main_op p {
    font-size: 20px;
    padding: 50px 0 30px;
}

.main_op a {
    display: inline-block;
    padding: 10px 25px;
    background: white;
    color: #979696;
    border-radius: 10px;
    transition: all 0.5s;
}

.main_op a:hover {
    background: thistle;
    color: white;
}

.info {
    background: rgb(35, 35, 35);
    color: white;
    padding: 50px 0;
    text-align: center;
}

.info h2 {
    font-size: 30px;
    margin-bottom: 30px;
    /* line-height: 100px;
    height: 100px; */
}

.info p {
    font-size: 18px;
}

.arrow {
    width: 0px;
    height: 0px;
    background: darkred;
    margin: 0 auto;
    border-top: 20px solid rgb(35, 35, 35);
    border-left: 20px solid white;
    /* border-bottom: 20px solid yellow; */
    border-right: 20px solid white;
}

.cont_inner1 {
    /* border: 1px solid darkgoldenrod; */
    width: 1000px;
    margin: 0 auto;
    padding: 70px 0;
}

.title {
    text-align: center;
    font-size: 30px;
    height: 50px;
}

.p_title {
    text-align: center;
    font-size: 15px;
    /* border: 1px red solid; */
    padding-bottom: 50px;
}

.cont_wrap {}

.cont_wrap img {
    width: 100%;
}

.cont_wrap p {
    font-size: 13px;
    line-height: 1.7;
    padding-top: 30px;
    text-align: justify;
    /* letter-spacing: 5px; */
    /* 자간 음수면 글자가 가까이 양수면 사이가 멀리 */
    /* word-spacing: -5px; */
    /* 띄어쓰기 간격 음수면 띄어쓰기 좁게 양수면 띄어쓰기 멀리 */
}

.left {
    float: left;
    /* border: 1px solid seagreen; */
    width: 490px;
}

.right {
    float: right;
    /* border: 1px solid skyblue; */
    width: 490px;
}

.cont_wrap .right p {
    padding-top: 0 !important;
    padding-bottom: 30px;
}

.cont_inner2 {
    width: 1000px;
    margin: 0 auto;
    padding: 70px 0 40px;
    /* border: 1px slateblue solid; */
}

.cont_inner2 .map {
    width: 100%;
    height: 400px;
    border: none;
}

.address {}

.address h3 {
    padding: 30px 0 15px;
    font-size: 20px;
}

.address p {
    line-height: 1.4;
}

.address span {
    display: block;
}

.cont_inner3 {
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0;
    /* border: 1px solid darkblue; */
}

.cont_inner3 ul {}

.cont_inner3 ul li {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    /* border: 1px solid salmon; */
}

.cont_inner3 ul li img {
    width: 80%;
}

.cont_inner3 ul li h3 {
    font-size: 20px;
    padding: 15px 0 20px;
}

.cont_inner3 ul li p {
    font-size: 13px;
    text-align: justify;
    padding: 0 30px;
    line-height: 1.8;
}

.activity {
    margin: 0 auto;
    padding-top: 30px;
    width: 1000px;

}

.activity img {
    width: 100%;
}

.activity h3 {
    padding: 30px 0 20px;
    font-size: 20px;
}

.activity p {
    padding-bottom: 30px;
    line-height: 1.5;
}

.article {
    width: 1000px;
    margin: 0 auto 50px;

}

.article h3 {
    padding: 10px 0;
    font-size: 20px;
}

.article p {
    font-size: 14px;
    color: #333;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 10px;
}

.article li p.first {
    border-bottom: 3px solid thistle;
    font-size: 15px !important;
    padding-bottom: 5px;
}

.con_inner4 {
    width: 1000px;
    margin: 0 auto;
    padding: 90px 0 70px;
}

.img_list {}

.img_list li {
    float: left;
    width: calc(100% / 4);
}

.img_list li div {
    position: relative;
    line-height: 0;
    /* font-size: 0; */
}

.img_list li div a {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0);
transition: all 0.5;
}
.img_list li div a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.img_list li div a span {
    display: block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255,255,  0.7);
    border-radius: 20px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    
}
.img_list li div a span:hover{
    background: rgba(255,255, 255, 1);
    color: darkblue;
}
.img_list li div img {
    width: 100%;
}

.img_list h4 {
   padding: 10px 0;
}

.img_list h5 {
    padding-bottom: 10px;
    font-weight: 100;
}
.con_inner5{
    width: 1000px;
    margin: 0 auto;
    padding: 90px 0;
}
.form_table{
    border: #333 solid 1px;
    width: 100%;
}
.t_left{
    background: thistle;
    width: 25%;
    text-align: center;
    font-weight: bold;
}
td{
    padding: 10px ;
    border: #333 solid 1px;
}
.num_1{
    width: 50px;
}
.txt_r{
    text-align: right;
}
.txt_p{
    width: 100%;
    height: 150px;
    padding: 10px;
}
.img_left{
    text-align: center;
}
.btn{
    text-align: center;
    padding: 30px;
}
.btn input{
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer;
}
.con_inner6{
    width: 100%;
    height: 400px;
    background: url(../images/7-min.jpg) no-repeat center center;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 50px;
}
.con_inner6_op{
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
}
.con_inner6_op_inner{
    width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    color: white;
    text-align: center;
}
.con_inner6_op_inner h2{
    font-size: 30px;
}
.con_inner6_op_inner p{
    font-size: 16px;
    padding: 15px;
}
.sns{}
.sns {}
.sns li{
    float: left;
    width: calc(100% / 3);
    color: white;
}
.sns li h3{
    font-size: 16px;
    height: 30px;
}
.sns li h4{
    font-size: 12px;
}
#footer{}

.footer_up{
    background: #333;
    padding: 30px 0;
}
.footer_down{
    background: #2e2e2e;
    padding: 25px 0;
}
.footer_up_inner{
    width: 1000px;
    margin: 0 auto;
    color: white;
}
.footer_up_inner h2{
    padding-bottom: 15px;
}
.footer_up_inner span{
    line-height: 2;
    padding-right: 10px;
    font-size: 12px;
}
.footer_down_inner{
    width: 1000px;
    margin: 0 auto;
    color: white;
    font-size: 12px;
}
